__pycache__
*.pyc
.git
.gitignore
.vscode
.venv
venv
node_modules
dist
build
*.log
.coverage
.pytest_cache
data
dump.rdb
*.pem
*.key
*.crt
.env
.env.*.local
.devcontainer
.ipynb_checkpoints
docs
tests
phases_tests
