version: "3.9"

services:
  api:
    build:
      context: .
      target: api
    container_name: intellog_api
    command: uvicorn src.api.app:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    environment:
      - MODEL_PATH=/app/models/xgb_delivery_time_model.pkl
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
      - ./models:/app/models
      - ./logs:/app/logs
    restart: unless-stopped

  dashboard:
    build:
      context: .
      target: dashboard
    container_name: intellog_dashboard
    command: streamlit run src/dashboard/app.py --server.port=8501 --server.address=0.0.0.0
    ports:
      - "8501:8501"
    depends_on:
      - api
    environment:
      - API_URL=http://api:8000
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    volumes:
      - .:/app
    restart: unless-stopped
